@import url("/fonts/reckless_neue/stylesheet.css");
@import url("/fonts/neue_montreal/stylesheet.css");
@import url("/fonts/reckless_neue/stylesheet.css");
@import url("/fonts/neue_montreal/stylesheet.css");
@import url("/fonts/reckless_neue/stylesheet.css");
@import url("/fonts/neue_montreal/stylesheet.css");
@import url("/fonts/reckless_neue/stylesheet.css");
@import url("/fonts/neue_montreal/stylesheet.css");
@import url("/fonts/reckless_neue/stylesheet.css");
@import url("/fonts/neue_montreal/stylesheet.css");
@import url("/fonts/reckless_neue/stylesheet.css");
@import url("/fonts/neue_montreal/stylesheet.css");
@import url("/fonts/reckless_neue/stylesheet.css");
@import url("/fonts/neue_montreal/stylesheet.css");
@import url("/fonts/reckless_neue/stylesheet.css");
@import url("/fonts/neue_montreal/stylesheet.css");
@import url("/fonts/reckless_neue/stylesheet.css");
@import url("/fonts/neue_montreal/stylesheet.css");
@import url("/fonts/reckless_neue/stylesheet.css");
@import url("/fonts/neue_montreal/stylesheet.css");
@import url("/fonts/reckless_neue/stylesheet.css");
@import url("/fonts/neue_montreal/stylesheet.css");
@import url("/fonts/reckless_neue/stylesheet.css");
@import url("/fonts/neue_montreal/stylesheet.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.landing-page {
  max-width: 1440px;
  margin: 0 auto;
  background: url("img/main.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.landing-page .header-wrapper {
  padding: 16px;
  max-width: 1296px;
  margin: 0 auto;
}
.landing-page .header-wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing-page .header-wrapper header .menu {
  display: flex;
  align-items: center;
  gap: 16px;
}
.landing-page .header-wrapper header .menu .burger {
  background: transparent;
  border: none;
  cursor: pointer;
}
.landing-page .header-wrapper header .menu .burger:focus {
  outline: 3px solid #dfdedb;
  border-radius: 4px;
}
.landing-page .header-wrapper header .menu .burger div {
  width: 27px;
  height: 1px;
  margin: 5px 0;
  background-color: #fcfdfd;
}
.landing-page .header-wrapper header .menu a {
  font-family: "Neue Montreal";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #fcfdfd;
  text-transform: uppercase;
}
.landing-page .header-wrapper header .cart {
  font-family: "Neue Montreal";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fcfdfd;
  display: flex;
  align-items: center;
  gap: 8px;
}
.landing-page .header-wrapper header .cart p {
  cursor: pointer;
  text-align: center;
  padding: 7px;
  width: 30px;
  height: 30px;
  background: #384353;
  border-radius: 50px;
}
.landing-page .description {
  height: 92%;
  display: grid;
  place-content: center;
  gap: 48px;
  word-wrap: break-word;
}
.landing-page .description h1 {
  text-align: center;
  width: 745px;
  color: #fcfdfd;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.landing-page .description h1 span {
  font-style: italic;
}
@media (max-width: 800px) {
  .landing-page .description h1 {
    font-family: "Reckless Neue";
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.02em;
    font-weight: 400;
    max-width: 300px;
    word-break: break-word;
    width: 100%;
    -webkit-text-stroke: 0 #000000;
  }
  .landing-page .description h1 span {
    font-style: normal;
  }
}
.landing-page .description button {
  width: 137px;
  height: 30px;
  border-radius: 8px;
  background-color: #f8f4e7;
  color: #323334;
  margin: 0 auto;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: 0.2s ease;
}
.landing-page .description button:hover {
  background-color: #384353;
  color: #f5f4f3;
}
.landing-page .description button:focus {
  outline: 3px solid #dfdedb;
  border-radius: 8px;
}
.landing-page .description button:disabled {
  background-color: #f5f4f3;
}

.about {
  max-width: 1440px;
  margin: 20px auto;
  height: 100vh;
  overflow: hidden;
}
@media (max-width: 800px) {
  .about {
    height: 76vh;
  }
}
.about-description {
  height: 100%;
  display: flex;
  margin: 30px auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 548px;
  text-align: center;
}
@media (max-width: 800px) {
  .about-description {
    max-width: 343px;
    width: 100%;
    word-break: break-word;
  }
}
.about-description-wrapper {
  position: relative;
}
.about-description-wrapper img {
  background-position: center;
  background-size: 100%;
  position: absolute;
  z-index: -1;
  transition: 1s ease;
}
.about-description-wrapper .img-1 {
  width: 332px;
  height: 259px;
  top: -277px;
  left: 77px;
}
@media (max-width: 800px) {
  .about-description-wrapper .img-1 {
    width: 147px;
    height: 114px;
    transform: translate(-59px, 137px);
  }
}
.about-description-wrapper .img-2 {
  width: 172px;
  height: 132px;
  left: 599px;
  top: -70px;
}
@media (max-width: 800px) {
  .about-description-wrapper .img-2 {
    width: 76px;
    height: 58px;
    transform: translate(-314px, 2px);
  }
}
.about-description-wrapper .img-3 {
  width: 200px;
  height: 210px;
  left: 772px;
  top: 109px;
}
@media (max-width: 800px) {
  .about-description-wrapper .img-3 {
    width: 88px;
    height: 93px;
    transform: translate(-436px, -65px);
  }
}
.about-description-wrapper .img-4 {
  width: 355px;
  height: 285px;
  left: 412px;
  top: 345px;
}
@media (max-width: 800px) {
  .about-description-wrapper .img-4 {
    width: 156px;
    height: 126px;
    transform: translate(-188px, 16px);
  }
}
.about-description-wrapper .img-5 {
  width: 413px;
  height: 290px;
  left: -434px;
  top: 171px;
}
@media (max-width: 800px) {
  .about-description-wrapper .img-5 {
    width: 182px;
    height: 128px;
    transform: translate(279px, 132px);
  }
}
.about-description-wrapper .img-6 {
  width: 231px;
  height: 184px;
  left: -341px;
  top: -108px;
}
@media (max-width: 800px) {
  .about-description-wrapper .img-6 {
    width: 102px;
    height: 81px;
    transform: translate(259px, 158px);
  }
}
.about-description h2 {
  text-align: center;
  color: #323334;
}
.about-description h2 span {
  font-style: italic;
}
@media (max-width: 800px) {
  .about-description h2 span {
    font-style: normal;
  }
}
@media (max-width: 800px) {
  .about-description h2 {
    font-family: "Reckless Neue";
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.02em;
    font-weight: 400;
    padding: 0 10px;
  }
}
.about-description p {
  font-family: "Neue Montreal";
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  padding: 24px 21px;
}
@media (max-width: 800px) {
  .about-description p {
    padding: 24px 0;
  }
}
.about-description button {
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  padding: 8px 36px;
  border: 1px solid #dfdedb;
  border-radius: 8px;
  background-color: transparent;
  font-family: "Neue Montreal";
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: 0.2s ease;
}
.about-description button:hover {
  background-color: #384353;
  color: #f5f4f3;
}
.about-description button:focus {
  outline: none;
  box-shadow: 6px 3px 20px 3px #dfdedb;
}
.about-description button:disabled {
  border: 1px solid #f5f4f3;
  color: cloudy;
}

.article {
  max-width: 1440px;
  margin: 0 auto;
}
.article_main-title h4 {
  padding: 24px 0;
  text-align: center;
  color: #323334;
  border-bottom: 1px solid #dfdedb;
}
.article-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 1000px) {
  .article-wrapper {
    flex-direction: column;
  }
}
.article-wrapper::after {
  top: 0;
  left: 60px;
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #dfdedb;
}
@media (max-width: 1230px) {
  .article-wrapper::after {
    display: none;
  }
}
.article-wrapper h5 {
  height: 137px;
  margin-bottom: -328px;
  transform: rotate(270deg);
  text-transform: uppercase;
}
@media (max-width: 1230px) {
  .article-wrapper h5 {
    display: none;
  }
}
.article-wrapper_content {
  margin: 0 auto;
  margin-left: -100px;
  display: grid;
  gap: 56px;
  flex: 2;
}
@media (max-width: 1230px) {
  .article-wrapper_content {
    margin: 0;
    padding: 0 33px;
    place-content: center;
    gap: 24px;
  }
}
@media (max-width: 600px) {
  .article-wrapper_content {
    padding: 16px;
  }
}
.article-wrapper_content h3 {
  font-size: clamp(56px, 2.5vw, 24px);
}
@media (max-width: 1230px) {
  .article-wrapper_content h3 {
    font-family: "Reckless Neue";
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    font-weight: 400;
  }
}
.article-wrapper_content p {
  font-family: "Neue Montreal";
  font-size: 15px;
  line-height: 19px;
  max-width: 641px;
}
.article-wrapper_content a {
  font-family: "Neue Montreal";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.article img {
  padding: 30px 0;
  width: 50%;
}
@media (max-width: 900px) {
  .article img {
    width: 70%;
  }
}
@media (max-width: 650px) {
  .article img {
    width: 95%;
  }
}
.article-button {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-family: "Neue Montreal";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  padding: 24px 0;
  border-top: 1px solid #dfdedb;
  border-bottom: 1px solid #dfdedb;
}

.articles {
  max-width: 1440px;
  margin: 0 auto;
}
.articles-wrapper {
  margin-bottom: 10px;
  border-bottom: 1px solid #dfdedb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.articles-wrapper_content {
  padding: 10px;
}
.articles-wrapper_content img {
  width: 454px;
  max-width: 100%;
}
.articles-wrapper_content:nth-child(1), .articles-wrapper_content:nth-child(2) {
  border-right: 1px solid #dfdedb;
}
@media (max-width: 1420px) {
  .articles-wrapper_content:nth-child(1), .articles-wrapper_content:nth-child(2) {
    border-right: none;
  }
}
.articles-wrapper_content-description {
  display: grid;
  gap: 24px;
  max-width: 454px;
  padding-bottom: 70px;
}
.articles-wrapper_content-description h5 {
  color: #323334;
}
.articles-wrapper_content-description p {
  padding: 0;
  color: #384353;
  font-family: "Neue Montreal";
  font-size: 15px;
  line-height: 19px;
}
.articles-wrapper_content-description a {
  font-family: "Neue Montreal";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #323334;
}

.details-feature {
  margin: 0 auto;
  max-width: 1442px;
  height: 76vh;
  background: url("img/details-feature.png") center/cover no-repeat;
}
.details-feature_image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.details-feature_image img {
  width: 30%;
}
@media (max-width: 930px) {
  .details-feature_image img {
    display: none;
  }
}

.details {
  max-width: 1440px;
  margin: 0 auto 18px auto;
  position: relative;
}
.details::before {
  position: absolute;
  top: 0;
  left: 80px;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #dfdedb;
}
@media (max-width: 1440px) {
  .details::before {
    display: none;
  }
}
.details-wrapper {
  display: flex;
  justify-content: center;
}
.details-wrapper .details-info {
  margin: 165px 0 94px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 36px;
  color: #323334;
  width: 550px;
}
@media (max-width: 1250px) {
  .details-wrapper .details-info {
    margin: 56px 0;
    padding: 16px;
  }
}
.details-wrapper .details-info span {
  display: block;
  font-family: "Neue Montreal";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
}
.details-wrapper .details-info p {
  margin: 0 21px;
  font-family: "Neue Montreal";
  font-size: 15px;
  line-height: 19px;
}
@media (max-width: 650px) {
  .details-wrapper .details-info p {
    margin: 0;
  }
}
.details .details_images-wrapper {
  display: flex;
  align-items: flex-end;
  border-top: 1px solid #dfdedb;
}
@media (max-width: 1440px) {
  .details .details_images-wrapper .details-title {
    visibility: hidden;
  }
}
@media (max-width: 1250px) {
  .details .details_images-wrapper .details-title {
    display: none;
  }
}
@media (max-width: 1250px) {
  .details .details_images-wrapper {
    border-top: none;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}
.details .details_images-wrapper .details-title {
  text-transform: uppercase;
  color: #323334;
  height: 100%;
}
.details .details_images-wrapper .details-title h5 {
  margin-bottom: 90px;
  transform: rotate(270deg);
}
.details .details_images-wrapper .details-images_main {
  width: 67.2%;
  padding-top: 12px;
  padding-right: 12px;
  aspect-ratio: 972/677;
  border-right: 1px solid #dfdedb;
}
@media (max-width: 1430px) {
  .details .details_images-wrapper .details-images_main {
    height: 670px;
  }
}
@media (max-width: 1250px) {
  .details .details_images-wrapper .details-images_main {
    border-right: 0;
    width: 80%;
    height: auto;
    padding: 0;
  }
}
@media (max-width: 600px) {
  .details .details_images-wrapper .details-images_main {
    width: 100%;
  }
}
.details .details_images-wrapper .details-images_bottom-images-wrapper {
  margin-left: 12px;
}
@media (max-width: 1250px) {
  .details .details_images-wrapper .details-images_bottom-images-wrapper {
    margin: 0;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.details .details_images-wrapper .top-image {
  width: 83%;
  padding: 9px 0;
  aspect-ratio: 174.5/192.5;
}
@media (max-width: 1430px) {
  .details .details_images-wrapper .top-image {
    width: 84%;
    height: 330px;
  }
}
@media (max-width: 1250px) {
  .details .details_images-wrapper .top-image {
    width: 40%;
    height: auto;
    padding: 0;
  }
}
@media (max-width: 600px) {
  .details .details_images-wrapper .top-image {
    width: 49%;
  }
}
.details .details_images-wrapper .bottom-image {
  width: 83%;
  padding-top: 16px;
  aspect-ratio: 174.5/192.5;
}
@media (max-width: 1430px) {
  .details .details_images-wrapper .bottom-image {
    width: 84%;
    height: 330px;
  }
}
@media (max-width: 1250px) {
  .details .details_images-wrapper .bottom-image {
    padding: 0;
    height: auto;
    width: 40%;
  }
}
@media (max-width: 600px) {
  .details .details_images-wrapper .bottom-image {
    width: 49%;
  }
}

.feature {
  max-width: 1440px;
  margin: 30px auto 0 auto;
}
.feature-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 1139px) {
  .feature-content {
    gap: 0;
  }
}
.feature-content h4 {
  padding: 24px 0;
  text-align: center;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}
.feature-content_gallery {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1139px) {
  .feature-content_gallery {
    gap: 0;
  }
}
.feature-content_gallery img {
  width: 330px;
  height: 331px;
}
@media (max-width: 700px) {
  .feature-content_gallery img {
    width: 100%;
    max-width: 330px;
    height: auto;
  }
}
@media (max-width: 1139px) {
  .feature-content_gallery-item {
    padding: 8px;
    border: 1px solid #dfdedb;
  }
}
.feature-content_gallery-item_description {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: #323334;
  font-family: "Neue Montreal";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
}
@media (max-width: 700px) {
  .feature-content_gallery-item_description {
    flex-direction: column;
    gap: 24px;
  }
}
.feature-content-button a {
  color: #323334;
  display: block;
  text-align: center;
  width: 100%;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  padding: 24px 0;
  background-color: transparent;
  font-family: "Neue Montreal";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.feature-content_wrapper {
  background-color: #384353;
}
@media (max-width: 900px) {
  .feature-content_wrapper {
    padding: 16px 16px 61px 16px;
  }
}
.feature-content_wrapper-page {
  overflow: hidden;
  display: flex;
  background-color: #384353;
}
@media (max-width: 900px) {
  .feature-content_wrapper-page {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
.feature-content_wrapper-page_description {
  display: grid;
  place-content: center;
  max-width: 405px;
  margin: 0 auto;
  gap: 23px;
  flex-grow: 1;
  flex-shrink: 0;
}
.feature-content_wrapper-page_description h4 {
  color: #fcfdfd;
  border: none;
  text-align: left;
}
.feature-content_wrapper-page_description p {
  font-family: "Neue Montreal";
  font-size: 15px;
  line-height: 19px;
  color: #dfdedb;
}
.feature-content_wrapper-page img {
  width: 50%;
}
@media (max-width: 600px) {
  .feature-content_wrapper-page img {
    width: 100%;
  }
}

.footer-container {
  max-width: 1440px;
  margin: 0 auto;
}
.footer-container footer {
  background-color: #384353;
}
.footer-container footer .footer-section-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.footer-container footer .footer-section-wrapper .footer-section {
  padding: 25px 56px 11px 56px;
  font-family: "Neue Montreal";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #f5f4f3;
  flex: 1;
  border: 0.5px solid #dfdedb;
}
.footer-container footer .footer-section-wrapper .footer-section a {
  display: block;
  margin-bottom: 16px;
}
.footer-container footer .footer-section-wrapper .footer-section li {
  cursor: pointer;
  padding-bottom: 14px;
}
.footer-container footer .footer-logo {
  padding: 92px 56px;
}
.footer-container footer .footer-copyright p {
  border-top: 1px solid #dfdedb;
  border-bottom: 1px solid #dfdedb;
  padding: 24px 0;
  text-align: center;
  font-family: "Neue Montreal";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #f5f4f3;
}

.lookbook-intro {
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  background: url("img/lookbokintro.png") center/cover no-repeat;
}
.lookbook-intro-wrapper {
  height: 100%;
  position: relative;
}
.lookbook-intro-wrapper .lookbook-intro-item-2 {
  bottom: 173px;
  right: 76px;
}
.lookbook-intro-wrapper .lookbook-intro-item-1 {
  left: 106px;
  top: 105px;
}
.lookbook-intro-wrapper .lookbook-intro-item-1,
.lookbook-intro-wrapper .lookbook-intro-item-2 {
  position: absolute;
  background-color: #fcfdfd;
  padding: 20px;
}
@media (max-width: 900px) {
  .lookbook-intro-wrapper .lookbook-intro-item-1,
.lookbook-intro-wrapper .lookbook-intro-item-2 {
    display: none;
  }
}
.lookbook-intro-wrapper .lookbook-intro-item-1 .lookbook-intro-item-description,
.lookbook-intro-wrapper .lookbook-intro-item-2 .lookbook-intro-item-description {
  display: flex;
  justify-content: space-between;
}
.lookbook-intro-wrapper .lookbook-intro-item-1 .lookbook-intro-item-description p,
.lookbook-intro-wrapper .lookbook-intro-item-2 .lookbook-intro-item-description p {
  font-family: "Neue Montreal";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #323334;
  text-transform: uppercase;
}
.lookbook-intro-wrapper .lookbook-intro-item-1 img,
.lookbook-intro-wrapper .lookbook-intro-item-2 img {
  height: 301px;
}

.lookbook {
  max-width: 1440px;
  margin: 0 auto;
}
.lookbook-wrapper {
  display: flex;
  background-color: #384353;
}
@media (max-width: 1045px) {
  .lookbook-wrapper {
    flex-direction: column;
  }
}
.lookbook-wrapper_section-1 {
  width: 62px;
  margin-top: auto;
}
@media (max-width: 1100px) {
  .lookbook-wrapper_section-1 {
    display: none;
  }
}
.lookbook-wrapper_section-1 h5 {
  transform: rotate(270deg) translateX(42px);
  color: #f5f4f3;
}
.lookbook-wrapper_section-2 {
  border-right: 1px solid #dfdedb;
  border-left: 1px solid #dfdedb;
  flex: 2;
}
.lookbook-wrapper_section-2 h3 {
  margin-top: 50px;
  color: #f5f4f3;
  text-align: center;
}
.lookbook-wrapper_section-2 p {
  margin: 409px auto 0 auto;
  font-family: "Neue Montreal";
  font-size: 15px;
  line-height: 19px;
  color: #dfdedb;
  text-align: center;
  width: 414px;
}
@media (max-width: 1045px) {
  .lookbook-wrapper_section-2 p {
    word-wrap: break-word;
    word-break: break-word;
    margin: 56px auto;
    max-width: 343px;
    width: 100%;
  }
}
.lookbook-wrapper_section-3 {
  font-family: "Neue Montreal";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.lookbook-wrapper_section-3 .lookbook-item_description {
  display: flex;
  justify-content: space-between;
  color: #f5f4f3;
  border-top: 1px solid #dfdedb;
  border-bottom: 1px solid #dfdedb;
  padding: 6px 8px 10px 21px;
  margin-top: 20px;
}
@media (max-width: 1045px) {
  .lookbook-wrapper_section-3 .lookbook-item_description {
    display: none;
  }
}
@media (max-width: 1045px) {
  .lookbook-wrapper_section-3 .lookbook-item_content-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}
.lookbook-wrapper_section-3 .lookbook-item_content {
  background-color: #e0e0e0;
  padding: 20px;
  margin: 20px auto;
}
@media (max-width: 1045px) {
  .lookbook-wrapper_section-3 .lookbook-item_content {
    margin-top: 0;
  }
}
.lookbook-wrapper_section-3 .lookbook-item_content img {
  height: 422px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .lookbook-wrapper_section-3 .lookbook-item_content img {
    height: 422px;
    width: 303px;
    max-width: 100%;
  }
}
.lookbook-wrapper_section-3 .lookbook-item_content .lookbook-item_content-description {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  color: #323334;
}
.lookbook-wrapper_section-3 .lookbook-item-info-wrapper .lookbook-item_info {
  display: flex;
  justify-content: space-between;
  color: #f5f4f3;
  border-top: 1px solid #dfdedb;
  padding: 6px 17px 10px 21px;
}
.lookbook-wrapper_section-3 .lookbook-item-info-wrapper .item-3 {
  border-bottom: 1px solid #dfdedb;
  margin-bottom: 23px;
}

.container-feature-new {
  background-color: #384353;
  margin-top: 0;
  padding-bottom: 54px;
}
@media (max-width: 1045px) {
  .container-feature-new {
    padding-bottom: 32px;
  }
}
.container-feature-new .feature-content h4 {
  color: #f5f4f3;
}
.container-feature-new .feature-content_gallery p {
  color: #f5f4f3;
}
.container-feature-new .feature-content-button a {
  color: #fcfdfd;
}

.signup {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  background: url("img/email.png") center/cover no-repeat;
}
.signup-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 48px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup-wrapper h2 {
  max-width: 543px;
  text-align: center;
  color: #f5f4f3;
  font-size: clamp(36px, 5.5vw, 72px);
}
.signup-wrapper input {
  color: #dfdedb;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #dfdedb;
  outline: none;
  background-color: transparent;
  width: 344px;
  max-width: 100%;
}
.signup-wrapper input::-moz-placeholder {
  font-family: "Neue Montreal";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #dfdedb;
  text-transform: uppercase;
}
.signup-wrapper input:-ms-input-placeholder {
  font-family: "Neue Montreal";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #dfdedb;
  text-transform: uppercase;
}
.signup-wrapper input::placeholder {
  font-family: "Neue Montreal";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #dfdedb;
  text-transform: uppercase;
}

h1 {
  font-family: "Reckless Neue";
  font-size: clamp(36px, 6.5vw, 96px);
  line-height: 90%;
  letter-spacing: -0.05em;
  font-weight: 400;
}

h2 {
  font-family: "Reckless Neue";
  font-size: clamp(36px, 5.5vw, 72px);
  line-height: 100%;
  letter-spacing: -0.05em;
  font-weight: 400;
}

h3 {
  font-weight: 400;
  font-family: "Reckless Neue";
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.04em;
}

h4 {
  font-family: "Reckless Neue";
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.02em;
  font-weight: 400;
}

h5 {
  font-family: "Reckless Neue";
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */