@import "_variables.scss";

// SIGNUP PAGE
.signup {
  @include max-width();
  height: 100vh;
  width: 100%;
  background: url("img/email.png") center/cover no-repeat;
  &-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 48px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      max-width: 543px;
      text-align: center;
      color: $cloudy;
      font-size: clamp(36px, 5.5vw, 72px);
    }
    input {
      color: $oyster;
      padding: 16px;
      border-radius: 8px;
      border: 1px solid $oyster;
      outline: none;
      background-color: transparent;
      width: 344px;
      max-width: 100%;

      &::placeholder {
        @include text-small();
        color: $oyster;
        text-transform: uppercase;
      }
    }
  }
}